:root {
  --table-border-style: solid;
  --table-border-width: 1px;
  --table-border-color: #CCCCCC;
  --th-font-weight: normal;
  --th-font-size: 0.8rem;
  --th-text-align: left;
  --tr-hover-background-color: #FAFAFA;
  --tr-selected-background-color: #E9E9E9;
  --td-padding-top: 0.5rem;
  --td-padding-bottom: 0.5rem;
  --td-padding-right: 2rem;
  --td-padding-left: 2rem;
  --td-font-size: 0.6rem;
}

table {
  border-collapse: collapse;
  border-style: var(--table-border-style);
  border-width: var(--table-border-width);
  border-color: var(--table-border-color);

  thead {
    th {
      padding-top: var(--td-padding-top);
      padding-bottom: var(--td-padding-bottom);
      padding-right: var(--td-padding-right);
      padding-left: var(--td-padding-left);
      font-weight: var(--th-font-weight);
      font-size: var(--th-font-size);
      text-align: var(--th-text-align);
    }
  }

  tbody {
    tr {
      border-style: var(--tr-border-style, var(--table-border-style));
      border-width: var(--tr-border-width,  var(--table-border-width));

      &.selectable:hover {
        background-color: var(--tr-hover-background-color);
        cursor: pointer;
      }

        &.selected {
        background-color: var(--tr-selected-background-color);
        cursor: pointer;
      }

      td {
        padding-top: var(--td-padding-top);
        padding-bottom: var(--td-padding-bottom);
        padding-right: var(--td-padding-right);
        padding-left: var(--td-padding-left);
        font-size: var(--td-font-size);
      }
    }
  }
}
